<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<h1>                            ÇEVRE KİRLİLİĞİ</h1>
<span> Çevre kirliliği çeşitleri genel olarak; hava kirliliği, su kirliliği, toprak kirliliği, gürültü kirliliği ve
  görüntü kirliliği olarak sınıflandırılır. Çevre kirlilikleri doğaya zarar vererek doğrudan veya dolaylı
  olarak doğada yaşamını sürdüren tüm canlıların zarar görmesine neden olmaktadır. Günümüzde
  görüntü kirliliği ve ışık kirliliği de çevre kirlilikleri olarak karşımıza çıkmakta, bu çevresel kirlilikler yine
  insanlar tarafından oluşturularak insanların ve diğer canlıların zarar görmesine neden olmaktadır.
  Çevrenin kirlenmesi, ekosistemin dengelerini bozarak iklimsel değişikliklere sebep olmaktadır
  
  1. TOPRAK KİRLİLİĞİ
    Toprak, üzerinde ve içinde geniş bir canlı topluluğunu barındıran, bitkilerin durak yeri ve besin
  kaynağı olan ve belirli oranda katı, sıvı ve gaz içeren maddeler topluluğunun genel adıdır. Toprağın kirlenmesi son derece tehlikelidir.
  
  2. HAVA KİRLİLİĞİ
    Hava, yerkürenin etrafını saran atmosferi meydana getiren, normal şartlarda bileşimi %78 azot, %21 oksijen ve %1’de diğer gazlardan oluşan, canlı cansız varlıklara
  zarar vermeyen doğal bir kaynaktır. Havanın kirlenmesi son derece tehlikelidir.
  
  3. SU KİRLİLİĞİ
    Su, moleküllerinden yapılmış ve her su molekülü iki hidrojen atomu ile bir oksijen atomundan meydana gelmiştir. Özellikleri itibari ile kokusuz, renksiz, saydam bir sıvıdır.
  Suyun kirlenmesi son derece tehlikelidir.
  
  4.GÜRÜLTÜ KİRLİLİĞİ
    İnsanlar üzerinde olumsuz etki yapan, istenmeyen ve dinleyene bir anlam ifade etmeyen hoşa
  gitmeyen seslere gürültü denir.Gürültü kirliliği olması son derece tehlikelidir.
  
  5.RADYOAKTİF KİRLENME
    Nükleer enerji santralleri, nükleer silâh üreten fabrikalar, radyoaktif madde artıkları radyoaktif
  kirlenme yaratan başlıca kaynaklardır.Radyoaktif kirlenmenin olması son derece tehlikelidir.
  
  6.IŞIK KİRLİLİĞİ
    Işık kirliğinin sebepleri lazerler ve gereksiz
  aydınlatmalardır.</span>
</body>
</html>